.Background {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.NotFound {
  color: #a53ad7;
}

.NotFound p {
  font-weight: bolder;
}
