.Input {
  width: 100%;
  box-sizing: border-box;
}

.InputEl {
  border: 2px solid grey;
  padding: 10px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.InputEl:invalid {
  border: 2px solid #e8114b;
  background-color: #f095bb;
}

.InputEl:valid {
  background-color: #8fe290;
}

@media (min-width: 576px) {
  .InputEl {
    width: 447px;
  }
  .Small {
    width: 133px;
  }
}

.Small {
  width: 25%;
}

.Label {
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}
