.ScoreBoard article {
  background-color: #8631da;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.ScoreBoard li {
  list-style: none;
  display: inline;
}

.ScoreBoard ul {
  margin: 0;
  padding: 0;
}

.Name {
  font-weight: bolder;
}

.Points {
  background-color: white;
  border-radius: 15px;
  display: block;
}

.Total {
  background-color: red !important;
  margin-top: 10px;
}

.Loser {
  background-color: black !important;
  color: white;
  /* box-shadow: 10px -8px 10px 0px #a9aa9d; */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #a9aa9d !important;
}

.Winner {
  background-color: #55c21b !important;
  color: #cccb3d;
  /* box-shadow: 10px -8px 5px 0px #cccb3d; */
  margin-top: 10px;
  border: 3px solid #cccb3d !important;
}

.Smiley {
  padding: 0 5px;
}

@media (max-width: 575px) {
  .Smiley {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .Smiley {
    font-size: 0.6rem;
  }
}

.Score {
  padding: 0;
}
