.List {
  list-style-type: none;
  background-color: #8631da;
  border-radius: 10px;
  width: 75%;
  margin: 10px auto;
}

.List:hover {
  cursor: pointer;
  background-color: orange;
}

@media (min-width: 576px) {
  .List {
    width: 350px;
  }
}

.PlayersForm small {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.PlayersForm input {
  margin-left: auto;
  margin-right: auto;
}
